
@model List<Teacher>
@{
    ViewData["Title"] = "TeacherList";
}

@section Style
{
    <link href="./css/site.css"/>
}


<table class="table">
   <tr>
       <th>Id</th>
       <th>Name</th>
       <th>Address</th>
   </tr>
            @foreach (var item in Model)
            {
                <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>

                </tr>
            }

</table>

   <div class="container">
       <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 baggh">
            <div class="bg-imag" data-mdb-ripple-color="light">
            <img src="~/Image/img.jpg" class="img-fluid"/>
            </div>
            <div class="card-body">
            <h5 class="card-title">@item.Id</h5>
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Address</p>
            <a href="#!" class="btn btn-primary">Details</a>
            </div>
        </div> 
    }
    </div> 
   <div />
